
    .section {
        display: none;
        height: 100vh;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 2rem;
    }

    .active {
        display: flex !important;
    }

    body {
        margin: 0;
        font-family: 'comic sans ms', cursive;
        background-image: linear-gradient(rgba(177, 50, 50, 0.63), rgba(204, 63, 63, 0.952)), url('/img/bg.png');
        color: #ffffff;
    }

    .section {
        display: none;
        height: 100vh;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 2rem;
        background-color: transparent;
    }

    .section img{
        width: 300px;
        border-radius: 100%;
        margin-bottom: 2rem;
    }

    .active {
        display: flex !important;
    }

    button {
        font-weight: 500;
    }

    canvas {
        background-color: #cf586c;
        border-radius: 1rem;
    }

